.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__Input{
    margin-bottom: 30px;
}
.login__password{
    margin-bottom: 30px;
}
.login__but {  
  cursor: pointer;
  border:none;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(201, 201, 201);  
  color: rgb(109, 108, 108);
}